<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="testrunner.SearchTest"/> 
  <class name="testrunner.RegisterTest"/>
  <class name="testrunner.LoginTest"/>
  <class name="testrunner.PasswordRecoveryTest"/>
  <class name="testrunner.ProductTest"/>
  <class name="testrunner.ShoppingCartTest"/>
  <class name="testrunner.OrderTest"/>
  <class name="testrunner.SearchFunctionalityTest"/>
   
  </classes>
  
  </test> <!-- Test -->
</suite> <!-- Suite -->
